<!doctype html>
<html lang="en" ng-app="ClothingShop">
  <head>
    <meta charset="utf-8">
    <title>Awesome Clothing</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/clothingShopController.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>

  <body ng-controller="ClothingShopProductsController as productsCtrl">
    <div class="col-md-9 col-xs-8">
      <div class="col-md-3 col-sm-6 product-container" ng-repeat="product in productsCtrl.products">
        <p class="product-name">
          {{ product.name }}
        </p>
        <p class="product-category">
          {{ product.category }}
        </p>
        <p class="product-price">
          £{{ product.price.toFixed(2) }}
        </p>
        <p class="product-stock">
          {{ product.quantity }} in stock
        </p>
        <button type="button" class="btn add-btn" ng-click="productsCtrl.addItem(product.name)">Add Item</button>
      </div>
    </div>
    <div class="col-md-3 col-xs-4">
      <h4>Shopping Cart</h4>
      <p class="ordered-products" ng-repeat="item in productsCtrl.orderedItems">
        {{ item }}
      </p>
    </div>
  </body>
</html>
