<!doctype html>
<html lang="en" ng-app="ClothingShop">
  <head>
    <meta charset="utf-8">
    <title>Awesome Clothing</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/clothingShopController.js"></script>
    <script src="js/orderProducts.js"></script>
    <script src="js/dataService.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>

  <body ng-controller="ClothingShopProductsController as productsCtrl">
    <div class="header col-md-12">
      Awesome Clothing Shop
    </div>
    <div class="col-md-9 col-sm-8 col-xs-6">
      <div class="col-lg-3 col-md-4 col-sm-6 product-container" ng-repeat="product in productsCtrl.products">
        <div class="product-panel">
          <div class="product-img-container">
            <img src="images/mariana.jpg" class="product-img">
          </div>
          <div class="product-info">
            <p class="product-name">
              {{ product.name }}
            </p>
            <p class="product-category">
              {{ product.category }}
            </p>
            <p class="product-price">
              £{{ product.price.toFixed(2) }}
            </p>
            <p class="product-stock" ng-class="{ 'message': product.quantity < 1 }">
              <span>{{ product.quantity }}</span> in stock
            </p>
          </div>
          <div class="product-button">
            <button type="button" class="btn btn-default add-btn" ng-click="productsCtrl.addItem(product)" ng-disabled="product.quantity < 1">Add Item</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6 shopping-cart-container">
      <h4>Shopping Cart</h4>
      <div class="ordered-products" ng-repeat="item in productsCtrl.orderedItems">
        <p class="ordered-item-name">
          {{ item.name }}
        </p>
        <p class="ordered-item-quantity">
          Quantity: <button class="decrease-btn" ng-click="productsCtrl.decreaseItem(item)">-</button> {{ item.quantity }} <button class="increase-btn" ng-click="productsCtrl.addItem(item)" ng-disabled="productsCtrl.isNoMoreStock(item)">+</button>
        </p>
      </div>
      <div class="total-price-panel">
        Total: £<span>{{ productsCtrl.total.toFixed(2) }}</span>
      </div>
    </div>
  </body>
</html>
